html {
    font-family: "Josefin Sans", sans-serif;
    color: #d4cfdd;
    /* background: radial-gradient(circle, rgba(69,31,40,1) 0%, rgba(115,51,66,1) 100%);
    min-height: 100vh; */
}

body > .footer {
    padding-top: 1em;
    padding-bottom: 1em;
}

a > i:hover {
    color: white;
}