<footer class="footer">
  <div class="content has-text-centered">
    <div class="grid">
        <div class="cell"><a href="https://katsis.net/terms.php">Terms of service</a></div>
        <div class="cell"><a href="https://files.katsis.net/?dir=Logo">Branding</a></div>
        <div class="cell"><a href="https://github.com/KatsisStudio">Source Code</a></div>
    </div>
  </div>
</footer>